<!DOCTYPE html>
<html lang="en" style="font-size: 12px;font-family: sans-serif;background-color: white;">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Template Email</title>
  
</head>

<body style="margin: 0;color: black;">
  <table class="wrapperTable" style="width: 100%;border: none;border-collapse: collapse;border-spacing: 0;">
    <tbody style="width: 100%;">
      <tr>
        <td class="header" style="border-spacing: 0;padding: 0;width: 100%;background-color: black;background-image: url(https://mcusercontent.com/857427397a9dc7b7da6a23b53/images/55ecdb05-e363-4202-5732-6c7ba632fe83.png);background-repeat: repeat;">
          <table style="width: 100%;border: none;border-collapse: collapse;border-spacing: 0;">
            <tr>
              <td style="text-align: center;border-spacing: 0;padding: 0;">
                <a class="headerLogoWrapper" href="https://airfit.bg" target="_blank" style="text-decoration: none;color: inherit;">
                  <img class="headerLogoImg" src="https://mcusercontent.com/857427397a9dc7b7da6a23b53/images/8ab506c6-6a4b-d368-da69-9f8de5bbbdcc.png" alt="Airfit logo" style="width: 120px;">
                </a>
              </td>
            </tr>
            <tr>
              <td class="gradientWrapper" style="border-spacing: 0;padding: 0;line-height: 0;">
                <img class="gradientImg" src="https://raw.githubusercontent.com/airfitbg/mail-templates/main/assets/gradient.png" alt="Airfit logo" style="width: 100%;height: 4px;">
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="section" style="border-spacing: 0;padding: 1.5rem 1rem;max-width: 600px;">
          <table style="width: 100%;border: none;border-collapse: collapse;border-spacing: 0;max-width: 600px;margin: 0 auto;">
            <tbody>
              <tr>
                <td>This is section</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="footer" style="border-spacing: 0;padding: 0 1rem;max-width: 600px;">
          <table style="width: 100%;border: none;border-collapse: collapse;border-spacing: 0;max-width: 600px;margin: 0 auto;">
            <tbody>
              <tr>
                <td class="separator" style="border-spacing: 0;padding: 0;border-top: 1px solid #c2c2c2;width: 100%;margin: 2rem auto;">
                </td>
              </tr>
              <tr>
                <td style="border-spacing: 0;padding: 0;">
                  <table class="footerContent" style="width: 100%;border: none;border-collapse: collapse;border-spacing: 0;margin-top: 12px;">
                    <tbody>
                      <tr>
                        <td class="socialIcons" style="border-spacing: 0;padding: 6px 0;text-align: center;">
                          <a href="https://www.facebook.com/airfitbg" target="_blank" style="text-decoration: none;color: inherit;display: inline-block;margin: 0 16px;">
                            <img src="https://raw.githubusercontent.com/airfitbg/mail-templates/main/assets/facebook.png" alt="https://www.facebook.com/airfitbg" style="display: block" height="24" width="24">
                          </a>
                          <a href="https://www.instagram.com/airfitbg/" target="_blank" style="text-decoration: none;color: inherit;display: inline-block;margin: 0 16px;">
                            <img src="https://raw.githubusercontent.com/airfitbg/mail-templates/main/assets/instagram.png" alt="https://www.instagram.com/airfitbg/" style="display: block" height="24" width="24">
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="border-spacing: 0;padding: 6px 0;text-align: center;">
                          <a href="https://airfit.bg" class="footerSiteLink" style="text-decoration: none;color: #262626;font-weight: bold;line-height: 1.5;font-size: 16px;">airfit.bg</a>
                        </td>
                      </tr>
                      <tr>
                        <td style="border-spacing: 0;padding: 6px 0;text-align: center;">
                          <span class="footerAddress" style="color: #262626;line-height: 1.5;margin: 0;font-size: 10px;">
                            ул. “4-та” 4А, София 1387, България <br>
                            © 2021 Алт Требъл
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>